<a href="{{block.settings.link}}" class="tile {{ tileClass }}">
  <img class="tile__image" src="{{ block.settings.image | img_url: "1200x" }}" alt="{{ block.settings.title }}">
  {% unless block.settings.sticker == blank %}
    <span class="tile__sticker">
      {% include block.settings.sticker %}
    </span>
  {% endunless %}

  <span class="tile__title">{{ block.settings.title }}</span>
  <span class="tile__content">{{ block.settings.content }}</span>
  
  {% assign tileProduct = block.settings.tile_product %}
  {% if tileProduct.id %}
    {% if tileProduct.handle != "discovery-box-1" %}
  		{% assign tile_product_price = tileProduct.selected_or_first_available_variant.price | money %}
  	    {% assign tile_product_id = tileProduct.selected_or_first_available_variant.id %}
  	{% else %}
        {% assign tile_product_id = tileProduct.variants[1].id %}
        {% assign tile_product_price = tileProduct.variants[1].price | money %}
    {% endif %}
  
  	<span class="tile__title">{{ tile_product_price }}</span>
  	<button class="quick-addToCart" data-variant="{{ tile_product_id }}">{{ block.settings.add_to_cart }}</button>
  	<a href="{{ tileProduct.url }}" class="tile-product-link">{{ block.settings.find_out_more }}</a>
  {% endif %}
</a>