<div class="tile {{ tileClass }}">
  <a href="{{block.settings.link}}">
    <img class="tile__image" src="{{ block.settings.image | img_url: "1200x" }}" alt="{{ block.settings.title }}">
  </a>
  {% unless block.settings.sticker == blank %}
    <span class="tile__sticker">
      {% include block.settings.sticker %}
    </span>
  {% endunless %}

  <a href="{{block.settings.link}}"><span class="tile__title">{{ block.settings.title }}</span></a>
  <span class="tile__content">{{ block.settings.content }}</span>
  
  {% assign tileProduct = block.settings.tile_product %}
  {% if tileProduct.id %}
    {% if tileProduct.handle != "discovery-box-1" %}
  	    {% assign tile_product_id = tileProduct.selected_or_first_available_variant %}
  		{% assign tile_variant_name = tileProduct.selected_or_first_available_variant.title %}
  		{% assign tile_product_price = tileProduct.selected_or_first_available_variant.price | money %}
  	{% else %}
        {% assign tile_product_id = tileProduct.variants[1] %}
  		{% assign tile_variant_name = tileProduct.variants[1].title %}
        {% assign tile_product_price = tileProduct.variants[1].price | money %}
    {% endif %}
  
  	<span class="tile__title marg-top-xs">{{ tile_variant_name }}</span>
    <button class="quick-addToCart" data-variant="{{ tile_product_id.id }}" data-price="{{ tile_product_price }}" data-available="{{ tile_product_id.available }}">
      {% if tile_product_id.available %}
      	{{ section.settings.add_to_cart }}
      {% else %}
      	{{ section.settings.sold_out }}
      {% endif %}
    </button>
  	<a href="{{block.settings.link}}" class="tile-product-link">{{ section.settings.find_out_more }}</a>
  {% endif %}
</div>

<script>
  $(".quick-addToCart").hover(function(){
    var variantPrice = $(this).data('price');
    $(this).text(variantPrice);
  }, function(){
    if($(this).attr('data-available') == "true") {
      $(this).text("{{ section.settings.add_to_cart }}");
   }
   else {
   	  $(this).text("{{ section.settings.sold_out }}");
   }
  });
</script>