<a href="{{block.settings.link}}" class="tile {{ tileClass }}">
  <img class="tile__image" src="{{ block.settings.image | img_url: "1200x" }}" alt="{{ block.settings.title }}">
  {% unless block.settings.sticker == blank %}
    <span class="tile__sticker">
      {% include block.settings.sticker %}
    </span>
  {% endunless %}

  <span class="tile__title">{{ block.settings.title }}</span>
  <span class="tile__content">{{ block.settings.content }}</span>
  
  {% if tile_product.id %}
    {% if tile_product.handle != "discovery-box-1" %}
  		{% assign tile_product_price = tile_product.selected_or_first_available_variant.price %}
  	    {% assign tile_product_id = tile_product.selected_or_first_available_variant.id %}
  	{% else %}
        {% assign tile_product_id = tile_product.variants[1].id %}
        {% assign tile_product_price = tile_product.variants[1].price %}
    {% endif %}
  
  	<span class="tile__title">{{ tile_product_price }}</span>
  	<button class="quick-addToCart" data-variant="{{ tile_product_id }}">{{ add_to_cart }}</button>
  	<a href="{{ tile_product.url }}" class="tile-product-link">{{ find_out_more }}</a>
  {% endif %}
  <span class="tile__title">{{ tile_product_price }}</span>
  	<button class="quick-addToCart" data-variant="{{ tile_product_id }}">{{ add_to_cart }}</button>
  	<a href="{{ tile_product.url }}" class="tile-product-link">{{ find_out_more }}</a>
</a>