<div class="tile {{ tileClass }}">
  <a href="{{block.settings.link}}">
    <img class="tile__image" src="{{ block.settings.image | img_url: "1200x" }}" alt="{{ block.settings.title }}">
  </a>
  {% unless block.settings.sticker == blank %}
    <span class="tile__sticker">
      {% include block.settings.sticker %}
    </span>
  {% endunless %}

  <a href="{{block.settings.link}}"><span class="tile__title">{{ block.settings.title | truncatewords: 3 }}</span></a>
  <span class="tile__content">{{ block.settings.content | strip_html | truncate: 90 }}</span>
  
  {% assign tileProduct = block.settings.tile_product %}
  
  {% if tileProduct.id %}
    {% if tileProduct.handle != "discovery-box-1" %}
  	    {% assign tile_product_id = tileProduct.selected_or_first_available_variant %}
  		{% assign tile_variant_name = tileProduct.selected_or_first_available_variant.title %}
  		{% assign tile_product_price = tileProduct.selected_or_first_available_variant.price | money %}
  	{% else %}
        {% assign tile_product_id = tileProduct.variants[1] %}
  		{% assign tile_variant_name = tileProduct.variants[1].title %}
        {% assign tile_product_price = tileProduct.variants[1].price | money %}
    {% endif %}
  
  <div class="product_add_details">
  	<p class="tile__variant_title marg-top-xs">{{ tile_variant_name }}</p>
    <button class="quick-addToCart" data-variant="{{ tile_product_id.id }}" data-price="{{ tile_product_price }}" data-available="{{ tile_product_id.available }}">
      {% if tile_product_id.available %}
      	{{ settings.cart-add }}
      {% else %}
      	{{ settings.cart-sold-out }}
      {% endif %}
    </button>
  	<a href="{{block.settings.link}}" class="tile-product-link">{{ section.settings.find_out_more }}</a>
  </div>
  {% endif %}
  
</div>