<header class="homepage-header">
  <div class="homepage-header__background">
    <img src="{{ section.settings.image | img_url: "2000x", crop: 'center' }}" aria-hidden>
  </div>
  <h2 class="homepage-header__title">
    <a href="{{ section.settings.hover-link }}">
      {{ section.settings.title }}
      <span class="homepage-header__title__hover">
        {{ section.settings.hover-cta }}
      </span>
    </a>

    {% if section.settings.show_cta_button == true %}  
      <div class="homepage-header__title__button">
        <a href="{{ section.settings.hover-link }}">
          {{ section.settings.cta_button_content }}
        </a>
      </div>
    {% endif %}
  </h2>
  <div class="homepage-header__cta">
    <a class="arrow-link" href="{{ section.settings.link }}">{% include 'arrow.svg' %}{{ section.settings.cta }}</a>  
  </div>
  <a class="homepage-header__cricket" href="/pages/why-crickets">
    <svg width="81" height="80" viewBox="0 0 81 80" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g>
        <g>
          <g>
            <path id="Vector" d="M45.525 35.2607C49.7045 36.3717 59.4391 43.8314 55.6299 54.2009C51.8207 64.5703 42.8797 66.0517 37.4304 64.2529C31.9812 62.4541 23.0402 56.0526 26.3732 45.3128C29.7062 34.5729 38.6473 33.4619 45.525 35.2607Z" stroke="#252A2A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
          </g>
          <path id="Vector_2" d="M39.2821 18.2782C53.1962 10.1836 60.603 22.7751 51.4504 41.3449" stroke="#252A2A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
          <path id="Vector_3" d="M27.1668 20.1828C35.9491 16.3737 46.0012 23.463 42.5623 36.5306" stroke="#252A2A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
          <path id="Vector_4" d="M46.4771 52.4552C49.0695 48.2227 47.5352 46.2123 45.2603 45.5246C42.9853 44.8368 40.7633 49.9686 40.7633 49.9686" stroke="#252A2A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
          <path id="Vector_5" d="M37.0072 48.4871C37.0072 48.4871 38.3828 43.6198 35.2084 42.2971C32.0341 40.9745 31.4521 47.5877 31.4521 47.5877" stroke="#252A2A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
          <path id="Vector_6" d="M32.616 53.9893C33.9386 56.7404 40.2873 58.5921 43.1442 55.3648" stroke="#252A2A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
        </g>
        <g id="text" class="spin">
          <g>
            <path id="Vector_7" d="M2.30103 28.5418L2.88298 27.3779L9.02002 27.7482L5.05211 23.1455L5.79278 21.6641L11.824 22.2461L7.909 17.4846L8.49096 16.3206L13.1466 22.0344L12.406 23.41L6.32184 22.8809L10.2897 27.5366L9.54907 28.9651L2.30103 28.5418Z" fill="#252A2A"/>
            <path id="Vector_8" d="M10.1842 14.8924L11.0836 14.0459L12.9882 16.0034L16.6387 12.4058L14.7341 10.4483L15.6335 9.60181L20.3421 14.4162L19.4427 15.2627L17.3264 13.0936L13.676 16.6911L15.7922 18.8603L14.8928 19.7068L10.1842 14.8924Z" fill="#252A2A"/>
            <path id="Vector_9" d="M22.2994 10.3955L17.1675 8.38504L18.4373 7.64437L22.2994 9.23153L22.7755 5.1049L24.0453 4.36423L23.3575 9.81349L24.5743 11.8768L23.5162 12.5117L22.2994 10.3955Z" fill="#252A2A"/>
            <path id="Vector_10" d="M32.7219 8.33203C31.9812 8.17331 31.3992 7.85588 30.9231 7.37973C30.4469 6.90358 30.1824 6.32162 30.0237 5.58095C29.9179 4.84027 29.9708 4.2054 30.2353 3.62344C30.4998 3.04148 30.9231 2.51243 31.505 2.14209C32.087 1.77175 32.8277 1.45432 33.7271 1.29561C34.309 1.18979 34.891 1.18979 35.473 1.29561C36.002 1.40142 36.5311 1.56013 36.9543 1.82466C37.3776 2.08919 37.695 2.45953 37.9595 2.88277L36.9014 3.41182C36.7427 3.09439 36.5311 2.82986 36.2136 2.61824C35.8962 2.40662 35.5788 2.30081 35.1555 2.195C34.7323 2.14209 34.309 2.14209 33.8858 2.195C33.2509 2.30081 32.7219 2.51243 32.2986 2.77696C31.8754 3.09439 31.5579 3.41182 31.3992 3.83507C31.2405 4.25831 31.1876 4.73446 31.2405 5.26352C31.3463 5.79257 31.5579 6.21581 31.8754 6.53324C32.1928 6.85068 32.669 7.1152 33.198 7.22102C33.7271 7.32683 34.3619 7.32683 35.0497 7.22102C35.5788 7.1152 36.002 6.95649 36.4253 6.74487C36.8485 6.53324 37.1659 6.26872 37.3776 5.95128C37.6421 5.63385 37.7479 5.31642 37.8008 4.94608L38.9647 5.05189C38.9118 5.58095 38.7002 6.0571 38.3828 6.48034C38.0653 6.90358 37.6421 7.27392 37.0601 7.59135C36.4782 7.90879 35.8962 8.12041 35.2084 8.22622C34.309 8.49075 33.4625 8.49075 32.7219 8.33203Z" fill="#252A2A"/>
            <path id="Vector_11" d="M46.2657 8.17332C46.107 8.06751 46.0012 7.96169 45.8953 7.85588C45.7895 7.69717 45.7366 7.59136 45.6308 7.37974L45.1547 6.0571C45.0489 5.84548 44.9431 5.63386 44.7843 5.52805C44.6256 5.36933 44.414 5.31642 44.2024 5.26352L41.2926 4.99899L41.028 7.64426L39.8112 7.53845L40.4461 0.819458L45.4721 1.29561C46.0012 1.34851 46.4244 1.45432 46.7947 1.66594C47.1651 1.87757 47.4296 2.14209 47.5883 2.45953C47.747 2.77696 47.8529 3.1473 47.7999 3.51764C47.747 3.83507 47.6412 4.1525 47.4825 4.41703C47.3238 4.68155 47.0593 4.84027 46.7418 4.99899C46.4244 5.15771 46.0541 5.21061 45.6837 5.21061C45.8424 5.31642 45.9483 5.42223 46.0541 5.58095C46.1599 5.73967 46.2657 5.89838 46.3186 6.0571L46.7418 7.16811C46.7947 7.27393 46.8477 7.37974 46.9006 7.43264C46.9535 7.48555 47.0593 7.53845 47.1651 7.53845C47.2709 7.53845 47.3767 7.53845 47.4825 7.43264C47.5883 7.32683 47.6941 7.27393 47.7999 7.16811L48.1703 7.80298C48.0116 8.0146 47.7999 8.12041 47.5354 8.22622C47.3238 8.33203 47.0593 8.38494 46.7947 8.33203C46.5831 8.27913 46.3715 8.22622 46.2657 8.17332ZM44.996 4.36412C45.3134 4.41703 45.5779 4.36412 45.7895 4.31122C46.0012 4.25831 46.2128 4.1525 46.3715 3.99379C46.5302 3.83507 46.5831 3.67635 46.636 3.41183C46.636 3.2002 46.636 2.98858 46.5302 2.77696C46.4244 2.61824 46.2657 2.45953 46.0541 2.35372C45.8424 2.24791 45.5779 2.195 45.2605 2.14209L41.6629 1.77175L41.4513 3.99379L44.996 4.36412Z" fill="#252A2A"/>
            <path id="Vector_12" d="M50.4981 2.19507L51.662 2.5125L49.8632 9.01988L48.6993 8.70244L50.4981 2.19507Z" fill="#252A2A"/>
            <path id="Vector_13" d="M52.9847 9.81345C52.5086 9.23149 52.1911 8.64953 52.0853 7.96176C51.9795 7.32689 52.0853 6.63912 52.4028 6.00425C52.7202 5.36939 53.1434 4.84034 53.7254 4.5229C54.2545 4.20547 54.9422 4.04675 55.63 4.04675C56.3707 4.04675 57.1114 4.25837 57.9049 4.68162C58.434 4.94614 58.9101 5.26358 59.3334 5.68682C59.7037 6.11007 60.0212 6.53331 60.1799 7.00946C60.3915 7.48561 60.4444 7.96176 60.3915 8.43791L59.2276 8.27919C59.2805 7.90885 59.2805 7.59142 59.1218 7.27399C59.016 6.95655 58.8043 6.63912 58.4869 6.32169C58.1695 6.00426 57.852 5.79263 57.4288 5.58101C56.8468 5.31649 56.3178 5.15777 55.7887 5.15777C55.2597 5.15777 54.7835 5.26358 54.4132 5.4752C53.9899 5.73973 53.6725 6.05716 53.4609 6.53331C53.2493 7.00946 53.1434 7.48561 53.2493 7.96176C53.3551 8.43791 53.5667 8.86115 53.937 9.2844C54.3074 9.70764 54.7835 10.078 55.4184 10.3425C55.8945 10.5541 56.3178 10.7128 56.7939 10.7657C57.2172 10.8187 57.6404 10.8187 58.0108 10.7128C58.3811 10.607 58.6985 10.3954 58.963 10.1309L59.8624 10.8716C59.4921 11.2419 59.0689 11.5064 58.5398 11.6651C58.0108 11.8239 57.4817 11.8768 56.8468 11.771C56.212 11.718 55.63 11.5064 54.9951 11.189C54.1486 10.8716 53.4609 10.3954 52.9847 9.81345Z" fill="#252A2A"/>
            <path id="Vector_14" d="M63.6186 8.22623L64.5709 9.01981L62.4547 11.5064L67.7452 11.7709L69.0678 12.8819L64.2534 12.6174L64.7825 18.0666L63.5657 17.0085L63.1424 12.5645L61.6611 12.5116L60.2326 14.2045L59.2803 13.411L63.6186 8.22623Z" fill="#252A2A"/>
            <path id="Vector_15" d="M70.3376 14.3633L74.3055 19.7068L73.5649 20.2888L70.3376 15.8976L68.8034 17.0086L71.819 21.0823L71.0783 21.6114L68.0627 17.5377L66.4226 18.7545L69.7028 23.2515L68.9621 23.8334L64.9413 18.3842L70.3376 14.3633Z" fill="#252A2A"/>
            <path id="Vector_16" d="M75.5222 24.4683L74.3054 21.6643L75.2048 21.294L78.1675 28.0659L77.2681 28.4362L76.0513 25.6322L70.7607 27.9072L70.2845 26.7961L75.5222 24.4683Z" fill="#252A2A"/>
            <path id="Vector_17" d="M72.4009 33.1975C72.4538 32.6156 72.6125 32.0865 72.8241 31.6633C73.0358 31.1871 73.3003 30.8168 73.6177 30.5523L74.4642 31.1871C74.1997 31.3987 73.9351 31.6633 73.7764 32.0865C73.6177 32.5098 73.459 32.933 73.4061 33.4091C73.3532 33.8853 73.3532 34.4143 73.459 34.8905C73.5119 35.3137 73.6177 35.6841 73.7764 35.9486C73.9351 36.266 74.0939 36.4777 74.3055 36.6364C74.5171 36.7951 74.7287 36.848 74.8874 36.7951C75.152 36.7422 75.3107 36.5835 75.4165 36.266C75.5223 35.9486 75.5752 35.4725 75.5223 34.7847L75.4694 33.1446C75.4694 32.2452 75.5752 31.6104 75.7339 31.1871C75.9456 30.7639 76.3159 30.4993 76.845 30.3935C77.2682 30.3406 77.6385 30.3935 78.0089 30.6052C78.3792 30.8168 78.6437 31.1342 78.9083 31.6104C79.1728 32.0336 79.3315 32.5627 79.4373 33.1975C79.5431 33.6737 79.5431 34.2027 79.4902 34.626C79.4373 35.1021 79.3315 35.5254 79.2257 35.8957C79.1199 36.266 78.8554 36.5835 78.6437 36.7951L77.8502 36.2131C78.0618 36.0015 78.2205 35.7899 78.3263 35.4725C78.4321 35.155 78.5379 34.8376 78.5908 34.4673C78.6437 34.0969 78.5908 33.7266 78.5379 33.3033C78.485 32.933 78.3792 32.6156 78.2205 32.351C78.0618 32.0865 77.9031 31.8749 77.7443 31.7162C77.5327 31.5575 77.374 31.5045 77.1624 31.5575C76.9508 31.6104 76.792 31.7691 76.6862 32.0336C76.5804 32.2981 76.5275 32.6685 76.5804 33.1975L76.6333 34.7847C76.6862 35.7899 76.5804 36.5835 76.3688 37.0596C76.1572 37.5887 75.7868 37.8532 75.2578 37.959C74.8345 38.0119 74.4113 37.959 74.041 37.7474C73.6706 37.5358 73.3532 37.1654 73.0887 36.6893C72.8241 36.2131 72.6125 35.6312 72.5067 34.9963C72.4009 34.3614 72.348 33.7795 72.4009 33.1975Z" fill="#252A2A"/>
            <path id="Vector_18" d="M73.2474 40.9217C73.3532 40.8159 73.5648 40.7101 73.7235 40.763C73.8822 40.763 73.9881 40.8159 74.0939 40.8688C74.1997 40.9217 74.2526 41.0276 74.3055 41.1334C74.3584 41.2392 74.4113 41.3979 74.3584 41.5037C74.3584 41.7153 74.2526 41.874 74.1468 42.0328C73.9881 42.1386 73.8293 42.2444 73.6177 42.1915C73.5119 42.1915 73.3532 42.1386 73.2474 42.0857C73.1416 42.0328 73.0887 41.9269 73.0358 41.8211C72.9829 41.7153 72.9828 41.6095 72.9828 41.4508C73.0358 41.1863 73.0887 41.0275 73.2474 40.9217ZM75.9456 41.1863C76.2101 41.2921 76.3688 41.4508 76.5275 41.7153C76.6862 41.9798 76.8449 42.1915 76.9508 42.5618L77.1624 43.038C77.2682 43.3554 77.374 43.567 77.5327 43.7257C77.6914 43.8844 77.7972 43.9373 78.0089 43.9373C78.2205 43.9373 78.3792 43.8844 78.5379 43.7257C78.6966 43.567 78.8554 43.3554 78.9612 43.0909C79.067 42.8263 79.1199 42.5089 79.1199 42.1915C79.1199 41.874 79.1199 41.5566 79.0141 41.2392C78.9083 40.9217 78.8025 40.6572 78.6437 40.4456C78.485 40.234 78.2734 40.0223 78.0089 39.8636L78.5908 38.8584C78.9083 39.0701 79.1728 39.3346 79.3844 39.652C79.596 39.9694 79.8077 40.3927 79.9135 40.8688C80.0193 41.345 80.0722 41.8211 80.0722 42.2973C80.0722 42.8792 79.9135 43.3554 79.7548 43.8315C79.5431 44.2548 79.3315 44.6251 79.0141 44.8367C78.6966 45.1013 78.3792 45.2071 78.0089 45.1542C77.6914 45.1542 77.374 44.9955 77.1095 44.7838C76.845 44.5193 76.6333 44.2019 76.4746 43.7257L76.263 43.2496C76.1572 42.9851 76.0514 42.7734 75.9456 42.6147C75.8397 42.456 75.7339 42.3502 75.5752 42.2973C75.4165 42.2444 75.2578 42.1915 74.9933 42.1915L75.0462 41.1334C75.4165 40.9746 75.681 41.0275 75.9456 41.1863Z" fill="#252A2A"/>
            <path id="Vector_19" d="M79.067 50.9738L78.485 52.1377L72.2951 51.979L76.4217 56.423L75.6811 57.9573L69.5969 57.5869L73.6177 62.2426L73.0887 63.4066L68.2743 57.8515L68.9621 56.423L75.0462 56.7405L70.9725 52.1906L71.6602 50.7621L79.067 50.9738Z" fill="#252A2A"/>
            <path id="Vector_20" d="M71.6074 64.8351L70.761 65.7345L68.8035 63.8299L65.2588 67.5333L67.2163 69.4379L66.3698 70.3373L61.5025 65.6816L62.349 64.7822L64.571 66.8985L68.1157 63.1951L65.8936 61.0789L66.7401 60.1795L71.6074 64.8351Z" fill="#252A2A"/>
            <path id="Vector_21" d="M59.6507 69.7024L64.8354 71.5541L63.6186 72.3477L59.7036 70.8663L59.3862 75.0458L58.1693 75.8394L58.6984 70.3901L57.4286 68.3797L58.4339 67.7449L59.6507 69.7024Z" fill="#252A2A"/>
            <path id="Vector_22" d="M49.2812 72.0832C50.0219 72.2419 50.6567 72.5065 51.1329 72.9826C51.609 73.4059 51.9264 74.0407 52.0852 74.7285C52.2439 75.4692 52.191 76.104 51.9264 76.686C51.6619 77.268 51.2916 77.797 50.7096 78.2203C50.1277 78.6435 49.387 78.9609 48.5405 79.1197C47.9585 79.2255 47.3766 79.2784 46.7946 79.1726C46.2127 79.1197 45.7365 78.908 45.3133 78.6435C44.89 78.379 44.5197 78.0615 44.2552 77.6383L45.2604 77.0563C45.4191 77.3738 45.6307 77.6383 45.9481 77.797C46.2656 78.0086 46.583 78.1145 47.0062 78.1674C47.4295 78.2203 47.8527 78.2203 48.276 78.1144C48.9108 78.0086 49.4399 77.7441 49.8631 77.4796C50.2864 77.1622 50.6038 76.7918 50.7625 76.3686C50.9212 75.9453 50.9742 75.4692 50.8683 74.9401C50.7625 74.4111 50.5509 73.9878 50.1806 73.6704C49.8102 73.353 49.387 73.1413 48.805 73.0355C48.276 72.9297 47.6411 72.9297 46.9533 73.0884C46.4243 73.1942 46.001 73.353 45.5778 73.5646C45.2075 73.7762 44.89 74.0407 44.6255 74.3582C44.4139 74.6756 44.2552 75.0459 44.2022 75.4163L43.0383 75.3634C43.0912 74.8343 43.3029 74.3582 43.5674 73.9349C43.8848 73.5117 44.3081 73.1413 44.8371 72.8239C45.3662 72.5065 46.001 72.2948 46.6888 72.1361C47.7469 71.9774 48.5405 71.9245 49.2812 72.0832Z" fill="#252A2A"/>
            <path id="Vector_23" d="M35.7904 72.665C35.9491 72.7708 36.0549 72.8766 36.1607 72.9824C36.2665 73.1411 36.3723 73.247 36.4252 73.4057L36.9543 74.7283C37.0601 74.9399 37.1659 75.0986 37.3775 75.2574C37.5362 75.4161 37.7478 75.469 37.9595 75.469L40.8693 75.6806L41.028 73.0353L42.2448 73.1411L41.8216 79.8601L36.7426 79.5427C36.2136 79.4898 35.7903 79.384 35.42 79.2253C35.0497 79.0136 34.7851 78.802 34.5735 78.4846C34.3619 78.1672 34.309 77.7968 34.309 77.4265C34.309 77.109 34.4148 76.7916 34.6264 76.5271C34.838 76.2626 35.0497 76.1038 35.3671 75.9451C35.6845 75.7864 36.002 75.7335 36.4252 75.6806C36.2665 75.5748 36.1607 75.469 36.0549 75.3103C35.9491 75.1515 35.8433 74.9928 35.7904 74.8341L35.3671 73.7231C35.3142 73.6173 35.2613 73.5115 35.2084 73.4586C35.1555 73.4057 35.0497 73.3528 34.9439 73.3528C34.838 73.3528 34.7322 73.3528 34.6264 73.4586C34.5206 73.5644 34.4148 73.6173 34.3619 73.7231L33.9387 73.0882C34.0974 72.8766 34.309 72.7179 34.5206 72.6121C34.7322 72.5063 34.9968 72.4534 35.2613 72.4534C35.42 72.5063 35.6316 72.5592 35.7904 72.665ZM37.1659 76.4213C36.8485 76.4213 36.5839 76.4213 36.3723 76.5271C36.1607 76.58 35.9491 76.7387 35.7904 76.8974C35.6316 77.0561 35.5787 77.2678 35.5787 77.4794C35.5787 77.691 35.6316 77.9026 35.7374 78.1143C35.8433 78.3259 36.002 78.4317 36.2136 78.5375C36.4252 78.6433 36.6897 78.6962 37.0072 78.7491L40.6577 79.0136L40.8164 76.7916L37.1659 76.4213Z" fill="#252A2A"/>
            <path id="Vector_24" d="M31.7166 78.7491L30.4998 78.4317L32.087 71.8714L33.3038 72.1888L31.7166 78.7491Z" fill="#252A2A"/>
            <path id="Vector_25" d="M29.0184 71.1838C29.5474 71.7129 29.8648 72.3477 29.9707 72.9826C30.0765 73.6175 30.0236 74.3052 29.7061 74.9401C29.3887 75.6279 28.9654 76.104 28.4364 76.4744C27.9073 76.7918 27.2725 77.0034 26.5318 77.0034C25.7911 77.0034 25.0504 76.8447 24.2569 76.4744C23.6749 76.2098 23.1988 75.8924 22.8284 75.5221C22.4052 75.1517 22.1406 74.7285 21.929 74.2523C21.7174 73.7762 21.6645 73.3 21.6645 72.8239L22.8284 72.9297C22.7755 73.3 22.8284 73.6175 22.9342 73.9349C23.0929 74.2523 23.3046 74.5698 23.5691 74.8343C23.8865 75.0988 24.204 75.3634 24.6272 75.5221C25.2092 75.7866 25.7911 75.8924 26.2673 75.8924C26.7963 75.8924 27.2725 75.7866 27.6428 75.5221C28.0131 75.2575 28.3306 74.8872 28.5422 74.4111C28.7538 73.9349 28.8067 73.4588 28.7009 72.9826C28.5951 72.5065 28.3835 72.0832 27.9602 71.66C27.537 71.2367 27.0608 70.9193 26.426 70.6548C25.9498 70.4431 25.4737 70.2844 25.0504 70.2844C24.6272 70.2315 24.204 70.2844 23.8336 70.3902C23.4633 70.4961 23.1458 70.7077 22.8813 70.9722L21.9819 70.2315C22.3523 69.8083 22.7755 69.5438 23.3046 69.385C23.8336 69.2263 24.3627 69.1734 24.9975 69.2263C25.6324 69.2792 26.2673 69.4379 26.9021 69.7554C27.8015 70.1786 28.4893 70.6548 29.0184 71.1838Z" fill="#252A2A"/>
            <path id="Vector_26" d="M18.3843 73.0884L17.432 72.2948L19.4953 69.7553L14.2048 69.7024L12.8821 68.6443L17.6965 68.7501L17.0088 63.3538L18.2785 64.359L18.8076 68.803L20.2889 68.856L21.6644 67.163L22.6167 67.9566L18.3843 73.0884Z" fill="#252A2A"/>
            <path id="Vector_27" d="M11.5066 67.1628L7.38 61.9252L8.12069 61.3432L11.5066 65.6286L12.988 64.4647L9.86657 60.4439L10.5543 59.8619L13.6758 63.8827L15.3158 62.613L11.877 58.2218L12.6177 57.6399L16.7972 62.9304L11.5066 67.1628Z" fill="#252A2A"/>
            <path id="Vector_28" d="M6.00464 57.2696L7.32728 60.0736L6.42789 60.4968L3.30646 53.8307L4.20585 53.4075L5.52849 56.2115L10.7132 53.7778L11.2423 54.8888L6.00464 57.2696Z" fill="#252A2A"/>
            <path id="Vector_29" d="M8.86136 48.4344C8.80845 49.0164 8.70264 49.5454 8.49102 50.0216C8.2794 50.4977 8.01487 50.8681 7.69744 51.1326L6.85095 50.4977C7.11548 50.2861 7.3271 49.9687 7.53872 49.5983C7.75034 49.228 7.80325 48.7519 7.85616 48.2757C7.90906 47.7996 7.85616 47.2705 7.75035 46.7943C7.64454 46.3711 7.53872 46.0537 7.38 45.7362C7.22129 45.4188 7.06257 45.2072 6.85095 45.1014C6.63933 44.9427 6.42771 44.8898 6.26899 44.9427C6.00447 44.9956 5.84575 45.2072 5.73994 45.5246C5.63413 45.842 5.63412 46.3711 5.68703 47.006L5.79284 48.5931C5.84574 49.4925 5.73994 50.1274 5.58122 50.5506C5.3696 50.9739 5.05217 51.2384 4.52311 51.3442C4.09987 51.45 3.72953 51.3971 3.35919 51.1855C2.98885 50.9739 2.67142 50.6564 2.40689 50.2332C2.14236 49.81 1.93074 49.2809 1.82493 48.6989C1.71912 48.2228 1.66621 47.7466 1.71912 47.2705C1.71912 46.7943 1.82493 46.3711 1.98365 46.0008C2.14236 45.6304 2.30108 45.313 2.56561 45.0485L3.41209 45.5775C3.20047 45.7891 3.04176 46.0537 2.93595 46.3182C2.83014 46.5827 2.72433 46.9531 2.72433 47.3234C2.72433 47.6937 2.72433 48.0641 2.83014 48.4873C2.88304 48.8577 3.04175 49.1751 3.14757 49.4396C3.30628 49.7041 3.465 49.9158 3.67662 50.0745C3.88824 50.2332 4.04696 50.2861 4.25858 50.2332C4.47021 50.1803 4.62892 50.0216 4.73473 49.757C4.84054 49.4925 4.84055 49.1222 4.84055 48.5931L4.73473 47.006C4.68182 46.0008 4.73473 45.2072 4.94636 44.731C5.15798 44.202 5.52831 43.8845 6.05737 43.7787C6.48061 43.6729 6.90386 43.7258 7.27419 43.9374C7.64453 44.1491 7.96197 44.4665 8.2794 44.9427C8.54393 45.4188 8.75555 45.9479 8.91427 46.6356C8.86136 47.2705 8.86136 47.8525 8.86136 48.4344Z" fill="#252A2A"/>
            <path id="Vector_30" d="M5.10517 40.6044C4.84064 40.4986 4.68192 40.3398 4.4703 40.1282C4.31158 39.9166 4.15287 39.6521 3.99415 39.3346L3.78253 38.8585C3.67672 38.5411 3.518 38.3294 3.41219 38.2236C3.25347 38.0649 3.09476 38.012 2.93604 38.012C2.72442 38.012 2.5657 38.0649 2.40699 38.2765C2.24827 38.4352 2.08956 38.6469 2.03665 38.9114C1.93084 39.1759 1.87793 39.4934 1.87793 39.8108C1.87793 40.1282 1.93084 40.4456 1.98374 40.7631C2.08955 41.0805 2.19537 41.345 2.40699 41.5567C2.61861 41.7683 2.83023 41.9799 3.04185 42.1386L2.4599 43.1438C2.14246 42.9851 1.87793 42.7206 1.61341 42.3502C1.34888 42.0328 1.19016 41.6096 1.03144 41.1863C0.872726 40.7102 0.819824 40.234 0.819824 39.7579C0.819824 39.1759 0.925635 38.6998 1.08435 38.2236C1.24307 37.8004 1.50759 37.43 1.82502 37.1655C2.14246 36.901 2.4599 36.7952 2.83023 36.7952C3.14767 36.7952 3.4651 36.901 3.72962 37.1655C3.99415 37.43 4.20578 37.7475 4.4174 38.2236L4.62902 38.6998C4.73483 38.9643 4.84064 39.1759 4.94645 39.2817C5.05226 39.4404 5.21098 39.5463 5.3697 39.5992C5.52841 39.6521 5.74003 39.705 5.95165 39.705V40.816C5.63422 40.7631 5.3697 40.7102 5.10517 40.6044ZM7.80334 40.7631C7.69753 40.8689 7.48591 40.9747 7.3272 40.9747C7.16848 40.9747 7.06267 40.9218 6.95686 40.8689C6.85105 40.816 6.79814 40.7102 6.69233 40.6044C6.63943 40.4986 6.58652 40.3398 6.58652 40.234C6.58652 40.0224 6.63943 39.8637 6.79814 39.705C6.95686 39.5463 7.11558 39.4933 7.3272 39.4933C7.43301 39.4933 7.59172 39.5463 7.69753 39.5992C7.80335 39.6521 7.90916 39.7579 7.96206 39.8637C8.01497 39.9695 8.01497 40.0753 8.01497 40.234C7.96207 40.4456 7.90915 40.6573 7.80334 40.7631Z" fill="#252A2A"/>
          </g>
        </g>
      </g>
    </svg>
  </a>
</header>

{% schema %}
{
  "name": "Homepage Header",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "default": "<p>This is the main title!</p>"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "cta",
      "label": "CTA",
      "default": "Learn more"
    },
    {
      "type": "url",
      "id": "link",
      "label": "CTA - Target"
    },
    {
      "type": "text",
      "id": "hover-cta",
      "label": "Hover CTA",
      "default": "Click to shop"
    },
    {
      "type": "url",
      "id": "hover-link",
      "label": "Hover CTA - Target",
      "default": "/collections"
    },
    {
      "type": "header",
      "content": "Settings of the CTA in the center of the header"
    },
    {
      "type": "checkbox",
      "id": "show_cta_button",
      "label": "Show button under text",
      "default": false
    },
    {
      "type": "text",
      "id": "cta_button_content",
      "label": "Content of the button",
      "default": "Shop now"
    }
  ],
  "presets": [
    {
      "name": "Homepage Header",
      "category": "Homepage Sections"
    }
  ]
}
{% endschema %}

